In [1]:
import mygene

In [2]:
mg = mygene.MyGeneInfo()
egenes = ['13', '8192', '1234', 'aa']

In [5]:
mg.querymany(egenes, scopes='entrezgene', fields='symbol', species='human', as_dataframe=True)

querying 1-3...done.
Finished.

        _id     _score symbol
query
13       13  24.432928  AADAC
8192   8192  24.432882   CLPP
1234   1234  24.432882   CCR5